# Python
backends/venv/
backends/**/__pycache__/
**/__pycache__/
backends/.env
backends/**/*.pyc
*.pyc
# Node / React Native
mobile/node_modules/
mobile/.expo/
mobile/dist/
# Allgemein
.DS_Store
*.log
